<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MusicManager.ManagerSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MusicManager.Properties.Settings>
            <setting name="SavedAddress" serializeAs="String">
                <value />
            </setting>
        </MusicManager.Properties.Settings>
        <MusicManager.ManagerSetting>
            <setting name="StoredAddress" serializeAs="String">
                <value />
            </setting>
        </MusicManager.ManagerSetting>
    </applicationSettings>
    <userSettings>
        <MusicManager.Properties.Settings>
            <setting name="SupportedMusicFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.mp3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SupportedImageFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.jpg</string>
                        <string>.png</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DisplayFormat" serializeAs="String">
                <value>Artist - Title</value>
            </setting>
            <setting name="DefaultOpenAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSavedAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedPlace1" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPlace2" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPlace3" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPlace4" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPlace5" serializeAs="String">
                <value />
            </setting>
        </MusicManager.Properties.Settings>
    </userSettings>
</configuration>